/* Import Google fonts */ 
@import url('https://fonts.googleapis.com/css2?family=Itim&family=Unbounded:wght@200;400;600&display=swap');

/* Global style */

body {
    font-family: "Itim", sans-serif;
    font-weight: 200;
    color: #3a3a3a; 
    background-color: #fcfcfc;
}

h1, h2 {
    font-family: "Itim", sans-serif;
}

/* Logo */ 

#logo {
    height: 100px;
    width: 150px;
}

/* Header & Navigation */ 

.navbar {
    padding: 0;
}

#nav-container {
    background-color: #FE8E3A;
}

.dropdown-menu {
    background-color: rgba(33, 37, 42, 0.9);
}

.dropdown-item {
    color: #fcfcfc;
}

/* Main image */ 

#main-image {
    padding-top: 90px;
    position: relative;
    min-height: 400px;
}

#welcome-text {
    width: 300px;
    height: 150px;

    background-color: rgba(33, 37, 42, 0.6);
    color: #fcfcfc;
    text-align: center;
    padding-top: 25px;

    bottom: 60%;
    left: 15%;
    position: absolute;
    
    /* Animation on loading */ 

    animation-name: welcome-text-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;

}

@keyframes welcome-text-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}

/* Google Map */ 

.map-outer {
    position: relative;
    text-align: right;
    height: 264px; 
    max-width: 530px;
}

.gmap_canvas {
    overflow: hidden;
    background: none!important;
    height: 264px;
    max-width: 530px;
}

/*  Media Queries */ 

/* Medium screens - up to 768px */ 
@media screen and (max-width: 768px) {
    
    #welcome-text {
        width: 250px;
        height: 125px;
        bottom: 62%;
        left: 15%;
        padding-top: 20px;
    }
}

/* Small screens - up to 576px */ 
@media screen and (max-width: 576px) {
    
    #welcome-text {
        width: 200px;
        height: 110px;
        bottom: 62%;
        left: 15%;
        padding-top: 15px;
        font-size: 90%;
    }
}
