/* Import Google fonts */ 
@import url('https://fonts.googleapis.com/css2?family=Itim&family=Unbounded:wght@200;400;600&display=swap');

/* Global style */

body {
    font-family: "Itim", sans-serif;
    font-weight: 200;
    color: #3a3a3a; 
    background-color: #fcfcfc;
}

h1, h2 {
    font-family: "Itim", sans-serif;
}

.large-text {
    font-size: 250%;
}

/* Site Colours */ 

.bg-nav-container {
    background-color: #FE8E3A;
}

.bg-dropdown-menu {
    background-color: rgba(33, 37, 42, 0.9);
}

.bg-welcome-text {
    background-color: rgba(33, 37, 42, 0.6);
}

.white-text {
    color: #fcfcfc;
}

.dark-text {
    color: #3a3a3a;
}

/* Logo */ 

#logo {
    height: 100px;
    width: 150px;
}

/* Header & Navigation */ 

.navbar {
    padding: 0;
}

.dropdown-item {
    color: #fcfcfc;
}

/* Main image */ 

#main-image {
    position: relative;
    min-height: 400px;
}

#welcome-text {
    width: 300px;
    height: 150px;

    padding-top: 25px;

    bottom: 72%;
    left: 15%;
    position: absolute;
    
    /* Animation on loading */ 

    animation-name: welcome-text-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;

}

@keyframes welcome-text-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}

/* Google Map */ 

#gmap_canvas {
    overflow: hidden;
    height: 264px;
    width: 80%;
}

/* Booking Form */ 

.center-form {
    width: 60%;
}

button[type="submit"] {
    background-color: #FE8E3A;
}


/*  Media Queries */ 

/* Medium screens - up to 768px */ 
@media screen and (max-width: 768px) {
    
    #welcome-text {
        width: 250px;
        height: 125px;
        left: 15%;
        padding-top: 20px;
    }


}

/* Small screens - up to 576px */ 
@media screen and (max-width: 576px) {
    
    #welcome-text {
        width: 200px;
        height: 110px;
        bottom: 62%;
        left: 15%;
        padding-top: 15px;
        font-size: 90%;
    }

    .center-form {
        width: 90%;
    }

}
