{% extends "base.html" %} 
{% block content %}

<section id="contact-section" class="container-fluid">
    <div class="row">
        <div class="col-12 text-center p-3">
            <h2>Contact Us</h2>
        </div>

        <div class="col-12 text-center">
            You can contact us directly through the following methods: 
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-8 offset-md-2">
             <img class="form-image" src="assets/images/dinosaurs.webp" alt="A drawing of different types of dinosaurs in a waterway landscape">
        </div>
    </div>
</section>

{% endblock %}